<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>


    {% if id != none %}
        <h1>Modif anime</h1>
        <form method="POST" action="/applicationanime/updatetraitement/{{id}}/">
    {% else %}
        <h1>saisie d'un nouvel anime</h1>
        <form method="POST" action="/applicationanime/traitement/">
    {% endif %}

            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Send DatAnime" \>
        </form>
</body>

</html>