<title>DatAnime Center</title>
{% extends 'main.html' %}
{% block content %}
</head>

<body>
    {% for i in listAnim %}
    <p> ID N°{{i.id}} <br> titre : <a href="{{i.url_anime}}" target="_blank">{{i.titre}}</a> <br> Auteur : {{i.auteur}}
    </p>
    <li><a href="/applicationanime/affichage/{{i.id}}"> Aller regarder </a></li>
    <li><a href="/applicationanime/update/{{i.id}}"> Modifier </a></li>
    <li><a href="/applicationanime/delete/{{i.id}}">Supprimer </a></li>
    {% endfor %}
</body>

</html>
{% endblock %}