<title>DatAnime Center</title>
{% extends 'main.html' %}
{% block content %}

<body>
    <div class="premiererplan">
        <div class="internal">
            <h1>Vous avez ajouté l'anime suivant : </h1>
            <p> <a class="usedlinks" href="{{anime.url_anime}}" target="_blank">{{anime.titre}}</a><br> Édité par :
                {{anime.auteur}}
                <br>Actuellement : {{anime.nombre_episodes}} Episodes <br>Année de
                parution : {{anime.annee_parution}}
            </p>
            <p>Resumé :</p>
            <p>{{anime.resume}}</p>
        </div>
    </div>

</body>

</html>
{% endblock %}