<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for i in listSite %}
    <p> ID :{{i.id}} <br> titre : {{i.titre}} <br> Auteur : {{i.auteur}} <br><a
            href="/applicationanime/affichagesite/{{i.id}}"> Aller au site </a> </p>
    <a href="/applicationanime/updatesite/{{i.id}}"> Paramètres </a></li><br> <a href="/applicationanime/deletesite/{{i.id}}">
        supprimer </a></li>
    {% endfor %}
</body>

</html>