<title>DatAnime Center</title>
{% extends 'main.html' %}
{% block content %}
</head>

<body>
    {% if id != none %}
    <h1>Fenêtre de modification des paramètres du site</h1>
    <form method="POST" action="/applicationanime/updatetraitementsite/{{id}}/">
        {% else %}
        <h1>Saisie d'un nouveau site</h1>
        <form method="POST" action="/applicationanime/traitementsite/">
            {% endif %}

            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Send to DatAnim" \>
        </form>
</body>

</html>
{% endblock %}