<title>DatAnime Center</title>
{% extends 'main.html' %}
{% block content %}

<body>
    <div class="premiererplan">
        <div class="internal">
            {% if id != none %}
            <h1>Fenêtre de modification des paramètres de l'anime saisi :</h1>
            <form method="POST" action="/updatetraitement/{{id}}/">
                {% else %}
                <h1>Saisie d'un nouvel anime :</h1>
                <form method="POST" action="/traitement/">
                    {% endif %}
                    {% csrf_token %}{{ form.as_p }}
                    <input class="submitbutton" type="submit" value="Send DatAnime" \>
                </form>
        </div>
    </div>
</body>

</html>
{% endblock %}