<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=PT+Sans&family=Source+Sans+Pro:wght@200&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'csstemplates/index.css'%}">
    <title class="rainbow">DatAnime Center</title>
</head>

<body>
    <article class="content">
        <ol class="ol_nav">
            <h1 class="DatanimeTitle">DatAnime Center</h1>
            <a class="navigation" href="/applicationanime/">Accueil</a>
            <a class="navigation" href="/applicationanime/ajoutcommentaire/{{i.id}}">Dépose un petit commentaire</a>
            <a class="navigation" href="/applicationanime/ajout/">Formulaire Anime </a>
            <a class="navigation" href="/applicationanime/ajoutsite/">Formulaire Streaming </a>
            <a class="navigation" href="/applicationanime/affichetout/{{i.id}}">liste d'anime</a>
            <a class="navigation" href="/applicationanime/affichetoutsite/{{i.id}}">Site de streaming</a>
            <a class="navigation" href="/applicationanime/affichetoutcommentaire/{{i.id}}">Affiche tout les commentaires
                de mon site</a>
        </ol>
    </article>
</body>

</html>
{% block content %}{% endblock %}