<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=PT+Sans&family=Source+Sans+Pro:wght@200&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'csstemplates/index.css'%}">
    <title>DatAnime Center</title>
</head>

<body class="back">
    <div class="content">
        <ol class="ol_nav">
            <h1 class="DatanimeTitle"><a class="DatanimeTitle" href="/index/">DatAnime Center</a></h1>
            <a class="navigation" href="/ajout/">Formulaire Anime </a>
            <a class="navigation" href="/ajoutsite/">Formulaire Streaming </a>
            <a class="navigation" href="/affichetout/{{i.id}}">liste d'anime</a>
            <a class="navigation" href="/affichetoutsite/{{i.id}}">Site de streaming</a>
        </ol>
    </div>
</body>

</html>
{% block content %}{% endblock %}