body{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    margin: 0%;
}
.modif_delete {
    text-decoration: none;
    color: black;
}

.usedlinks {
    color: blue;
}
.back{
    background-image: url(https://c.wallhere.com/photos/fe/26/anime_compilation-1441857.jpg!d);
    background-size: cover;
    margin: 0%;
}
.content{
    margin: 0%;
    padding: 0%;
    background-color: rgb(48, 48, 48);
    color: white;
    padding-bottom: 0.1%;
}
.premiererplan{
    margin: 0%;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
    margin-left: 15%;
    margin-right: 15%;
    height:100% ;
}
.internal{
    margin: 5%;
    margin-top: 0%;
    padding-top: 1%;
}
.DatanimeTitle{
    text-align: center; 
    color: white;
    text-decoration: none;
    padding: 0.2%;
    cursor: pointer;
}
.navigation{
    text-decoration: none;
    color: white;
    margin-right:3%;
}
.ol_nav{
    text-align: center;  
}
.gif{
    width: 70%;
    margin-top: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.div_content{
    display: block;
}
.modif{
    margin-top: 0%;
    padding-top: 0%;
}
li{
    list-style-type: none;
}
form{
    margin-left: 5%;
    margin-right:5% ;
}
.bordering{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    border: double;
    margin: 1%;
    float: left;
}
.delmodifdetail{
    padding-top: 3%;
    padding-left: 15%;
}
.informations{
    padding-left: 10%;
}
input{
    width: 100%;
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
}
.submitbutton{
    width: auto;
    margin: 2%;
}
textarea{
    margin-top: 2%;
}
label{
    float: left;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
textarea{
    width: 100%;
    height: 10%;
}